images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d_results
eg3d/out/*
eg3d/networks/*
eg3d/my_data/
eg3d/my_data_256/
eg3d/my_data_512/
test_img/
*.zip
*.png
eg3d/backup/*
eg3d/~/*
*.pt